{% extends 'base.html' %}

{% block title %}
Configuração dos parâmetros
{% endblock %}

{% block text %}
Ordene os arquivos do mais antigo ao mais novo
{% endblock %}

{% block main %}

<form action="{% url 'ml:train'%}" method="post">
    {% csrf_token %}
    {% for i in range %}
    <div class="form-group">
        <select class="form-control" name="filepath">
            {% for file in files %}
            <option value="{{ file.file.path }}">{{ file }}</option>
            {% endfor %}
        </select>
    </div>
    {% endfor %}
    <input type="submit" value="Enviar" class="btn btn-primary shadow rounded">
</form>
{% endblock %}

