{% extends 'base.html' %}

{% block title %}
Configuração dos parâmetros
{% endblock %}

{% block text %}
<ol>
    <li>
        Ordene os arquivos do mais antigo ao mais recente
    </li>
    <li>
        Defina o número de agrupamentos
    </li>
    <li>
        Clique em Iniciar Treinamento e aguarde
    </li>
</ol>
{% endblock %}

{% block main %}

    <form action="{% url 'ml:train'%}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>Ordene os arquivos:</label>
            {% for i in range %}
                <div class="form-group">
                    {{ select_form }}
                </div>
            {% endfor %}
            </div>
            <div class="col">
                <div class="form-group">
                    {{ n_clusters_form }}
                </div>
            </div>
        </div>
        <input type="submit" value="Iniciar Treinamento" class="btn btn-primary shadow rounded">
    </form>
</div>
{% endblock %}

