{% extends 'base.html' %}

{% block title %}
Configuração dos parâmetros
{% endblock %}

{% block text %}
<ol>
    <li>
        Ordene os arquivos do mais antigo ao mais recente
    </li>
    <li>
        Defina o número de agrupamentos
    </li>
    <li>
        Clique em Iniciar Treinamento e aguarde
    </li>
</ol>
{% endblock %}

{% block main %}

<div class="container">
    <form action="{% url 'ml:train'%}" method="post" id="train-form">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>Ordene os arquivos:</label>
                {% for i in range %}
                <div class="form-group">
                    {{ select_form }}
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="form-group">
                    {{ n_clusters_form }}
                </div>
            </div>
        </div>
        <button id="form-button" type="submit" class="btn btn-primary shadow rounded">Iniciar Treinamento</button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#form-button").click(function () {
            $(this).prop("disabled", true);
            $(this).html(`<i class="spinner-border spinner-border-sm"></i> Treinando ...`);
            $("#train-form").submit();
        });
    });
</script>

{% endblock %}

