{% extends 'base.html' %}

{% block title %}
Carregar arquivo
{% endblock %}

{% block text %}
Os arquivos estão disponíveis no <a href="http://www.ssp.sp.gov.br/transparenciassp/" target="_blank">Portal da
    Transparência da Secretaria da Segurança Pública de São Paulo</a>, na aba <b>Roubo de Celular</b>
{% endblock %}

{% block main %}
<form action="{% url 'ml:upload'%}" method="post" enctype="multipart/form-data" id="upload-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="form-button" type="submit" class="btn btn-primary shadow rounded"><i class="material-icons"
                                                                                     style="vertical-align: bottom">cloud_upload</i>
        Enviar
    </button>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#form-button").click(function () {
            $(this).prop("disabled", true);
            $(this).html(`<i class="spinner-border spinner-border-sm"></i> Enviando ...`);
            $("#upload-form").submit();
        });
    });
</script>
{% endblock %}