{% extends 'base.html' %}

{% block title %}
Autenticação
{% endblock %}

{% block text %}
Entre com seu nome de usuário e senha
{% endblock %}

{% block main %}
<form action="{% url 'index:login_user' %}" method="post">
    {% csrf_token %}
    <div class="form-group form-row">
        {% for field in form %}
        <div class="col">
            {{ field.label }}:
            {{ field }}
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary shadow rounded"><i class="material-icons"
                                                                    style="vertical-align: bottom">login</i> Autenticar
    </button>
</form>
{% endblock %}